# Versions shouldn't be pinned

#python-dotenv # For reading environment variables stored in .env file
#langchain

## onnxruntime # chromadb dependency: on Mac use `conda install onnxruntime -c conda-forge`
## For Windows users, install Microsoft Visual C++ Build Tools first
## install onnxruntime before installing `langchain-chroma`
#langchain-chroma

#langchain-community
#langchain-openai # For embeddings
#unstructured # Document loading
#openai # For embeddings
#tiktoken  # For embeddings 

# install markdown depenendies with: `pip install "unstructured[md]"` after install the requirements file. Leave this line commented out. 

# From updated pinned dependencies - see requirements_20241205.txt

python-dotenv==1.0.1 # For reading environment variables stored in .env file
langchain==0.3.9

# onnxruntime==1.17.1 # chromadb dependency: on Mac use `conda install onnxruntime -c conda-forge`
# For Windows users, install Microsoft Visual C++ Build Tools first
# install onnxruntime before installing `langchain-chroma`
langchain-chroma==0.1.4 # Vector storage

langchain-community==0.3.9
langchain-openai==0.2.11 # For embeddings
unstructured==0.16.9 # Document loading
openai==1.57.0 # For embeddings
tiktoken==0.8.0  # For embeddings 

# install markdown depenendies with: `pip install "unstructured[md]"` after install the requirements file. Leave this line commented out. 
